*aux
*bam
*bam.bai
*.csv
*.fa
*fasta
*.fai
*fastq.gz
*fna
gwas_results/kmer_data
gwas_results/kmers
gwas_results/platypus
gwas_results/paragraph
gwas_results/vg
*lof
*log
*lot
*out
*pdf
*png
refgenome/soybase_genome_annotation_v4.0_04-20-2021.txt
*swp
*rds
*toc
*tsv
*vcf.gz
*vcf.gz.tbi
