*amb
*ann
*aux
*bam
*bam.bai
*bwt
*.csv
*.fa
*fasta
*.fai
*fastq.gz
*fna
gwas_results/kmer_data
gwas_results/kmers
gwas_results/platypus
gwas_results/paragraph
gwas_results/vg
kmers_pca_analysis/*txt
*lof
*log
*lot
*out
*pac
*pdf
*png
refgenome/soybase_genome_annotation_v4.0_04-20-2021.txt
*sa
scripts/kmer_pca_analysis.R
sv_genotyping/paragraph/manifest_files/*txt
*swp
*rds
*toc
*tsv
*vcf.gz
*vcf.gz.tbi
