additional_files/variables.txt
*amb
*ann
*aux
*bam
*bam.bai
*bbl
*blg
*bwt
*clustered_ld.txt
cnv_analysis/cnv_luster_gwas/
*.csv
*.fa
*fasta
*.fai
*fastq.gz
*fna
figshare_data/
gwas_results/kmer_data
*gz
*.hmp.txt
illumina_data/merged_bams/
*.kinship
kmers_table/kmers_table.names
kmers_table/kmers_table.table
*lof
*log
*lot
*out
*pac
*pav_table.txt
*pav_table_nodup.txt
*pdf
*png
refgenome/Gmax4_db*
refgenome/soybase_genome_annotation_v4.0_04-20-2021.txt
*sa
*significant_kmers.txt
spurious_kmers_analysis/
sv_genotyping/paragraph/manifest_files/*txt
*swp
*rds
*threshold_5per.txt
*threshold_5per
*toc
*tsv
*vcf
*vcf.gz
*vcf.gz.tbi

illumina_data/soysnp50k_genotyping/pi_ids.txt
illumina_data/soysnp50k_genotyping/read_groups.txt
